.form-style-2{
	max-width: 500px;
	padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  flex: 10 10;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}

.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #b3b3b3;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #ecbdfc;
	color: #fff;
}


.sideBars{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5%;
    height: 100vh;
    margin-left: 2%;
    position: absolute;
}

.bar1{
  height: 100vh;
  border-left: 15px solid #fdffb2;
  margin-left: 15%;

}
.bar2{
  height: 100vh;
  border-left: 7px solid #24e5e5;
  
}
.bar3{
  height: 100vh;
  border-left: 15px solid  #ecbdfc;
  border-opacity: 1.0;

}

.signupPage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vh;
  height: 100vh;
  position: absolute;
}


/* Following styles are intended to overwrite the default bootstrap */
.flex-column {
	-ms-flex-direction: column!important;
	flex-direction: column!important;
}

.bg-light {
	background-color: #e5eaee!important;
}
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
}